.DS_Store

# Video files
*.mp4
*.MP4
*.mov
*.MOV
*.avi
*.AVI
*.mkv
*.MKV
*.webm
*.WEBM
*.flv
*.FLV
*.wmv
*.WMV
*.m4v
*.M4V
*.mpg
*.MPG
*.mpeg
*.MPEG

# Image files
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.gif
*.GIF
*.bmp
*.BMP
*.tiff
*.TIFF
*.tif
*.TIF
*.webp
*.WEBP
*.svg
*.SVG
*.ico
*.ICO
*.heic
*.HEIC
*.heif
*.HEIF
*.raw
*.RAW
*.cr2
*.CR2
*.nef
*.NEF
*.psd
*.PSD
